{{define "yield" }}

<h1>
    Change Password
</h1>

<form class="form" id="changepw" name="changepw" action="#" method="post">
  <p>
    <label>New password</label><br>
    <input type="password" name="password">
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>

<script>
setPostPath("/changepw")
</script>

{{end}}