{{define "yield" }}

<h1>
  Delete account
</h1>

<form class="form" id="deleteAccountForm" name="deleteAccountForm" action="#" method="post">
  <p>
    <label>email</label><br>
    <input type="email" name="email">
  </p>
  <p>
    <label>password</label><br>
    <input type="password" name="password">
  </p>
    <button type="submit">Delete account</button>
  </p>
</form>

<script>
setPostPath("/deleteaccount")
</script>

{{end}}