{{define "yield" }}

<h1>
    Forgot Password
</h1>

<form id="forgotpw" name="forgotpw" action="http://localhost:8000/forgotpw" method="post">
  <p>
    <label>email</label><br>
    <input type="email" name="email">
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>

{{end}}