{{define "yield" }}

<h1>
    Forgot Password
</h1>

<form class="form" id="forgotpw" name="forgotpw" action="#" method="post">
  <p>
    <label>email</label><br>
    <input type="email" name="email">
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>

<script>
setPostPath("/forgotpw")
</script>
{{end}}