{{define "yield" }}

<h1>
    Invite someone
</h1>

<form class="form" id="invite" name="invite" action="#" method="post">
  <p>
    <label>Email</label><br>
    <input type="email " name="email">
  </p>
  <p>
  <select type="text" name="role">
    <option value="staff">Staff</option>
    <option value="manager">Manager</option>
  </select>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>

<script>
setPostPath("/invite")
</script>

{{end}}