{{define "yield" }}

<h1>
    <label>Logout</label>
</h2>

<form id="logoutform" name="logoutform" action="http://localhost:8000/logout" method="post">
    <button type="submit" name="logout" value="logout">logout</button>
  </p>
</form>

{{end}}