{{define "yield"}}
	  <div id="page-wrapper">
		  <h1>Example of WebSockets</h1>

		  <div id="status">Connecting to the app…</div>

		  <ul id="msgs"></ul>

		  <form id="form-msg" action="#" method="post">
			  <textarea id="msg" placeholder="Write your msg here!" required></textarea>
			  <button type="submit">Send msg</button>
			  <button type="button" id="close">Close connection</button>
		  </form>
	  </div>
	  <script src="static/chatclient.js"></script>
{{end}}