{{define "yield"}}
	<div id="page-wrapper">
		<h1>Chat</h1>

		<div id="status">Connecting…</div>

		<ul id="msgs"></ul>

		<form id="form-msg" action="#" method="post">
			<input type="text" id="msg" placeholder="Write here." required></textarea>
			<button type="submit">Send msg</button>
		</form>
	</div>
	<script src="../static/chatclient.js"></script>
{{end}}