{{define "navbar"}}

<div class="navbar">
    <div class="navbarleft">
        <a href="https://hayat.notathoughtexperiment.me">
            <img src="static/temp_logo.png" alt="Hayat temp logo.">
        </a>
    </div>
    <div class="navbarright">
        <a href="https://hayat.notathoughtexperiment.me/anteroom">anteroom</a>
        <a href="https://hayat.notathoughtexperiment.me/login">login</a>
        <a href="https://hayat.notathoughtexperiment.me/logout">logout</a>
        <a href="https://hayat.notathoughtexperiment.me/deleteaccount">delete account</a>
        <a href="https://hayat.notathoughtexperiment.me/update">update account</a>
        <a href="https://hayat.notathoughtexperiment.me/forgotpw">forgot password</a>
        <a href="https://hayat.notathoughtexperiment.me/changepw">change password</a>
        <a href="https://hayat.notathoughtexperiment.me/register/org">register organisation</a>
    </div>
</div>
{{end}}