{{define "navbar"}}
<a href="https://hayat.notathoughtexperiment.me/anteroom">anteroom</a>
<a href="https://hayat.notathoughtexperiment.me/login">login</a>
<a href="https://hayat.notathoughtexperiment.me/logout">logout</a>
<a href="https://hayat.notathoughtexperiment.me/deleteaccount">delete account</a>
<a href="https://hayat.notathoughtexperiment.me/update">update account</a>
<a href="https://hayat.notathoughtexperiment.me/forgotpw">forgot password</a>
<a href="https://hayat.notathoughtexperiment.me/changepw">change password</a>
<a href="https://hayat.notathoughtexperiment.me/register/org">register organisation</a>
{{end}}