{{define "yield"}}

    <div class="landingpagelede">
        <div class="landingpagecomponent">
            <h1 id="lede">Hayat is an early stage chat hotline SAAS for social work.</h1>
        </div>
        <div class="landingpagecomponent">
            <p>Powered by <a href="https://notathoughtexperiment.me/about" alt="Link to website maker.">notathoughtexperiment</a>.</p>
        </div>
    </div>

{{end}}